
	

	
	

<!-- <link rel="alternate" type="application/rss+xml" title="MAYBANHANG.NET &raquo; Feed" href="http://maybanhang.net/feed/" />
<link rel="alternate" type="application/rss+xml" title="MAYBANHANG.NET &raquo; Comments Feed" href="http://maybanhang.net/comments/feed/" /> -->

<!-- <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://maybanhang.net/xmlrpc.php?rsd" /> -->
<!-- <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://maybanhang.net/wp-includes/wlwmanifest.xml" />  -->
<!-- <meta name="generator" content="WordPress 3.8.4" /> -->
<!-- <link rel='shortlink' href='http://maybanhang.net/?p=215004' /> -->


		
	
<style type="text/css" id="et-custom-css">
div.center ul{border:1px solid #c1c1c1!important}
#hotline b{color: #F23030!important}
</style><!-- Facebook Pixel Code -->

<!-- End Facebook Pixel Code -->




<body >
	<div id="container">
		<div id="wrap-header">
			<div id="header">
				<div id="logo">
				    
				</div> 
				<div class="show-menu"></div>
				<div id="menu">
				    <nav>
						<% if session[:user_id] != nil %>
							<ul id="nav" class="">
							
							<li class="menu-dangnhap "><a rel="nofollow" >  Welcome  </a></li>
							
							
							<li class="menu-dangnhap "><a rel="nofollow" >  Đăng xuất  </a></li>
							</ul>	
						<% else %>
							<ul id="nav" class="">
							<li id="menu-item-204309" class="menu-dangky menu-item menu-item-type-custom menu-item-object-custom menu-item-204309"><a href="http://localhost:3000/signup">Đăng ký</a></li>
							<li id="menu-item-1962" class="menu-dangnhap menu-item menu-item-type-custom menu-item-object-custom menu-item-1962"><a rel="nofollow" href="http://localhost:3000/login">Đăng nhập</a></li>
						</ul>
							
						<% end %>
							  
					</nav>
				</div>
		    </div>
		</div>

	
	
	
	
	
	
	
	
	
	
	
	<div class="wrap-main">
	<div class="wrap-banner">
		<!-- <div class="wrap-banner" > -->
		<div class="banner banner1">
			<!-- <p class="p1">dùng mọi thiết bị bạn có</p>
			<p class="p2"></p> -->
			
			<!-- <a href="http://maybanhang.net/phan-mem-ban-hang-tren-may-tinh/">
				<p class="p4">Bán hàng bằng máy tính</p>
			</a>
			<a href="http://maybanhang.net.vn/phan-mem-tren-ipad/">
				<p class="p5">Bán hàng bằng máy tính bảng</p>
			</a>
			<a href="/phan-mem-tren-iphone/">
				<p class="p6">Bán hàng bằng điện thoại thông minh</p>
			</a>
			<a href="/back-office/">
				<p class="p7">Quản lý trên Web</p>
			</a>
			<a href="/ezmobile-thong-tin-quan-ly-theo-thoi-gian-thuc/">
				<p class="p8">Quản lý từ xa qua điện thoại</p>
			</a> -->
			<!-- <img src="http://maybanhang.net/wp-content/themes/Chameleon/images/loading-lazyload.gif" data-original="http://maybanhang.net/wp-content/themes/Chameleon/images/page-home-new/img22.png" class="lazy-load img1" alt="phần mềm bán hàng"> -->
			<a href="/signup">
				<p class="p9">Đăng ký ngay</p>
			</a>
			
		</div>
		


		
	</div><!--end banner-->
	
	<div class="clear-fix"></div>
	<div class="wrap-main1">
		<div class="main1 w-main">
			<div class="blog blog1">
				<p class="title-lv1">Đơn giản để triển khai</p>
				<ul class="list-item">
					<li>
						
						<div class="right">
							<p class="p1">Dùng mọi thiết bị bạn có</p>
							<p class="p2">
								Laptop, máy tính bàn, máy tính bảng, điện thoại thông minh Iphone/Ipad... Bán hàng ngay, không phải mua thêm thiết bị phần cứng, thiết bị lưu trữ
							</p>
						</div>
					</li>
					<li>
						
						<div class="right">
							<p class="p1">Biết bán hàng trong 5 phút</p>
							<p class="p2">
								Giao diện đơn giản, thân thiện, dễ dùng, dựa trên các luồng nghiệp vụ quen thuộc. Nhân viên bán hàng có thể dễ dàng sử dụng và nhanh chóng triển khai bán hàng.
							</p>
						</div>
					</li>
					
				</ul>
			</div>
			<div class="blog blog2">
				<p class="title-lv1">Dễ dàng để quản lý</p>
				<ul class="list-item">
					
					<li>
						
						<div class="right">
							<p class="p1">Cửa hàng trong lòng bàn tay</p>
							<p class="p2">
								Không cần tới cửa hàng, chủ và quản lý vẫn có thể theo dõi mọi thay đổi doanh số, lợi nhuận, tồn kho... tức thì với Ezmobile - phiên bản hoàn toàn miễn phí!
							</p>
						</div>
					</li>
					<li>
						
						<div class="right">
							<p class="p1">Đồng bộ dữ liệu theo thời gian thực</p>
							<p class="p2">
								Công nghệ điện toán đám mây giúp cho dữ liệu cửa hàng được cập nhật đồng bộ trên mọi thiết bị và liên tục mọi phát sinh doanh số, tồn kho...
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="clear-fix"></div>
			
		</div>
	</div><!--end main 1-->
	<div class="clear-fix"></div>

	<div class="clear-fix"></div>
	
	<div class="clear-fix"></div>
	
	<div class="clear-fix"></div>
	
</div><!-- end wrap main -->
<footer>
    

       
</footer>
<div class="wrap-list-address">
    <div class="list-address">
        <p class="title">LIÊN HỆ</p>
        <ul>
            <li>
                <p class="p1"> Hà Nội</p>
                <p class="p2"> Mr. Nguyen Minh Duc</p>
                <p class="p3"> Tel: 0167.381.7001</p>
            </li>
            <li>
                <p class="p1"> TP. Hồ Chí Minh</p>
                <p class="p2"> Mr. Doan Phan Quoc Bao</p>
                <p class="p3"> Tel: 0168.246.1192</p>
            </li>
            <li>
                <p class="p1"> TP. Hải Phòng</p>
                <p class="p2"> Mr. Vu Binh Duong</p>
                <p class="p3"> Tel: 0949.650.288</p>
            </li>
            <li>
                <p class="p1"> TP. Nam Dinh </p>
                <p class="p2"> Mr. Pham Tien Thanh </p>
                <p class="p3"> Tel: 0123.870.0050 </p>
            </li>
        </ul>


    </div>
</div>



  