<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Máy bán hàng </title>
	
	<link rel="stylesheet" type="text/css" href="http://maybanhang.net/wp-content/themes/Chameleon/css/header3.css">
	<link rel="stylesheet" type="text/css" href="http://maybanhang.net/wp-content/themes/Chameleon/css/footer3.css">

	
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript">
		function setCookie(cname, cvalue, exdays) {
		    var d = new Date();
		    d.setTime(d.getTime() + (exdays*24*60*60*1000));
		    var expires = "expires="+d.toUTCString();
		    document.cookie = cname + "=" + cvalue + "; " + expires + ";path=/" ;

		    var domain = window.location.host;

		    document.cookie = cname + "=" + cvalue + "; " + expires + ";domain="+ domain +";path=/" ;
		    document.cookie = cname + "=" + cvalue + "; " + expires + ";domain=."+ domain +";path=/" ;
		}

		function getCookie(cname) {
		    var name = cname + "=";
		    var ca = document.cookie.split(';');
		    for(var i=0; i<ca.length; i++) {
		        var c = ca[i];
		        while (c.charAt(0)==' ') c = c.substring(1);
		        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
		    }
		    return "";
		}

		//Không có Domain, có Path
		

	</script>


<!-- All in One SEO Pack 2.2.7.4 by Michael Torbert of Semper Fi Web Design[71,143] -->
<meta name="description" itemprop="description" content="Được đánh giá là phần mềm quản lý bán hàng tốt nhất. Đi đầu về công nghệ, sử dụng trên mọi thiết bị bạn có, đơn giản để triển khai, dễ dàng để quản lý. " />

<meta name="keywords" itemprop="keywords" content="máy bán hàng, phần mềm bán hàng, phần mềm quản lý bán hàng, may ban hang, phan mem ban hang, thiet bi ban hang" />

<meta name="robots" content="follow, index" />
<!-- /all in one seo pack -->

<!-- This site is optimized with the Yoast WordPress SEO plugin v1.7.1 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Phần mềm quản lý bán hàng - MAYBANHANG được đánh giá là phần mềm quản lý bán hàng tốt nhất. Đi đầu về công nghệ , sử dụng trên mọi thiết bị bạn có"/>
<link rel="canonical" href="http://maybanhang.net/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Phần mềm quản lý bán hàng - MAYBANHANG" />
<meta property="og:description" content="Phần mềm quản lý bán hàng - MAYBANHANG được đánh giá là phần mềm quản lý bán hàng tốt nhất. Đi đầu về công nghệ , sử dụng trên mọi thiết bị bạn có" />
<meta property="og:url" content="http://maybanhang.net/" />
<meta property="og:site_name" content="MAYBANHANG.NET" />
<script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "url": "http://maybanhang.net/", "potentialAction": { "@type": "SearchAction", "target": "http://maybanhang.net/?s={search_term}", "query-input": "required name=search_term" } }</script>
<!-- / Yoast WordPress SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title="MAYBANHANG.NET &raquo; Feed" href="http://maybanhang.net/feed/" />
<link rel="alternate" type="application/rss+xml" title="MAYBANHANG.NET &raquo; Comments Feed" href="http://maybanhang.net/comments/feed/" />
<meta content="Chameleon v." name="generator"/><link rel='stylesheet' id='tmls-testimonials-css'  href='http://maybanhang.net/wp-content/plugins/tmls_testimonials/css/testimonials.css?ver=3.8.4' type='text/css' media='all' />
<link rel='stylesheet' id='wp-pagenavi-css'  href='http://maybanhang.net/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
<link rel='stylesheet' id='et_responsive-css'  href='http://maybanhang.net/wp-content/themes/Chameleon/css/responsive.css?ver=3.8.4' type='text/css' media='all' />
<link rel='stylesheet' id='et-shortcodes-css-css'  href='http://maybanhang.net/wp-content/themes/Chameleon/epanel/shortcodes/css/shortcodes.css?ver=3.0' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_custom_css-css'  href='http://maybanhang.net/wp-content/uploads/js_composer/custom.css?ver=4.3.3' type='text/css' media='screen' />
<link rel='stylesheet' id='et-shortcodes-responsive-css-css'  href='http://maybanhang.net/wp-content/themes/Chameleon/epanel/shortcodes/css/shortcodes_responsive.css?ver=3.0' type='text/css' media='all' />
<link rel='stylesheet' id='fancybox-css'  href='http://maybanhang.net/wp-content/themes/Chameleon/epanel/page_templates/js/fancybox/jquery.fancybox-1.3.4.css?ver=1.3.4' type='text/css' media='screen' />
<link rel='stylesheet' id='et_page_templates-css'  href='http://maybanhang.net/wp-content/themes/Chameleon/epanel/page_templates/page_templates.css?ver=1.8' type='text/css' media='screen' />
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script type='text/javascript'>try{jQuery.noConflict();}catch(e){};</script>
<script type='text/javascript' src='http://maybanhang.net/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type="text/javascript">
	!function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
		window.analytics.load("s413yi42dw");
	window.analytics.page();
	  }}();
</script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://maybanhang.net/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://maybanhang.net/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.8.4" />
<link rel='shortlink' href='http://maybanhang.net/?p=215004' />
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-33366200-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- used in scripts --><meta name="et_featured_auto_speed" content="20000" /><meta name="et_disable_toptier" content="0" /><meta name="et_featured_slider_auto" content="1" /><meta name="et_theme_folder" content="http://maybanhang.net/wp-content/themes/Chameleon" /><link id='droid_sans' href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css' /><style type='text/css'>h1,h2,h3,h4,h5,h6,ul#top-menu a { font-family: 'Helvetica Neue', Arial, sans-serif;  }</style><style type='text/css'>h1,h2,h3,h4,h5,h6,ul#top-menu > li.current_page_item > a, ul#top-menu a:hover, ul#top-menu > li.sfHover > a, h2.title a {  }
		#featured h2 a, #featured-modest h2 a, #featured h2, #featured-modest h2 { color: #fff !important; }
		</style><link id='droid_sans' href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css' /><style type='text/css'>body { font-family: Arial, sans-serif !important;  }</style><style type='text/css'>body { color: ##4e4e4e }</style><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /><link rel="shortcut icon" href="http://maybanhang.net/wp-content/uploads/2013/01/logo-Maybanhang.gif" /><meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>

		<link rel="stylesheet" type="text/css" href="http://maybanhang.net/wp-content/themes/Chameleon/css/page-home-new.css">
		<link rel="stylesheet" type="text/css" href="http://maybanhang.net/wp-content/themes/Chameleon/css/footer.css">
		<link rel="stylesheet" type="text/css" href="http://maybanhang.net/wp-content/themes/Chameleon/css/animate.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100,400italic,100italic,500,500italic,700,700italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
	<!-- Begin Ad360, important page views tracking --> <img border="0" hspace="0" vspace="0" width="1" height="1" src="http://tracking.ad360.vn/retargeting.html?bapid=188&uid=2120" /> <!-- End Ad360, important page views tracking -->	<style type="text/css">
		#et_pt_portfolio_gallery { margin-left: -41px; margin-right: -51px; }
		.et_pt_portfolio_item { margin-left: 35px; }
		.et_portfolio_small { margin-left: -40px !important; }
		.et_portfolio_small .et_pt_portfolio_item { margin-left: 32px !important; }
		.et_portfolio_large { margin-left: -26px !important; }
		.et_portfolio_large .et_pt_portfolio_item { margin-left: 11px !important; }
	</style>
<style type="text/css" id="et-custom-css">
div.center ul{border:1px solid #c1c1c1!important}
#hotline b{color: #F23030!important}
</style><!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '688754321258614');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=688754321258614&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0047/4726.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script> 
</head>


<body class="home page page-id-215004 page-template page-template-page-home-router-php gecko et_includes_sidebar wpb-js-composer js-comp-ver-4.3.3 vc_responsive">
	<div id="container">
		<div id="wrap-header">
			<div id="header">
				<div id="logo">
				    <a href="http://maybanhang.net">
										<img src="http://maybanhang.net/wp-content/themes/Chameleon/images/blog/logo.png" alt="Máy bán hàng" id="logo"/>
					<a href="" target="_blank" class="btn-download">
						Tải về
					</a>
				</a>
				</div> 
				<div class="show-menu"></div>
				<div id="menu">
				    <nav>
						<ul id="nav" class=""><li id="menu-item-210781" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-210781"><a href="http://maybanhang.net/phan-mem-quan-ly-ban-hang/">Phần mềm</a>
<ul class="sub-menu">
	<li id="menu-item-220174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-220174"><a href="http://maybanhang.net/phan-mem-quan-ly-ban-hang/">Tổng quan</a></li>
	<li id="menu-item-2672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2672"><a href="http://maybanhang.net/phan-mem-quan-ly-nha-hang/">Nhà hàng</a></li>
	<li id="menu-item-6311" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6311"><a href="http://maybanhang.net/phan-mem-quan-ly-sieu-thi-cho-nghiep-vu-van-hanh-tron-tru/">Bán lẻ</a></li>
</ul>
</li>
<li id="menu-item-1144" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1144"><a href="http://maybanhang.net/phan-cung/">Phần cứng</a></li>
<li id="menu-item-2671" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2671"><a href="http://maybanhang.net/ez-solution-ra-mat-giai-phap-quan-ly-cua-hang/">Bảng giá</a></li>
<li id="menu-item-5385" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5385"><a href="http://maybanhang.net/khach-hang/">Khách hàng</a></li>
<li id="menu-item-204425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-204425"><a href="http://maybanhang.net/tai-nguyen/">Tài nguyên</a>
<ul class="sub-menu">
	<li id="menu-item-215031" class="menu-blog menu-item menu-item-type-post_type menu-item-object-page menu-item-215031"><a title="Blog" href="http://maybanhang.net/blogs/">Blog</a></li>
	<li id="menu-item-204311" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204311"><a href="http://maybanhang.net/tu-van/">Tư vấn</a></li>
	<li id="menu-item-213331" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-213331"><a href="https://ezstore.zendesk.com/hc/vi">Hỗ trợ</a></li>
	<li id="menu-item-221536" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-221536"><a href="http://maybanhang.net/ho-tro-khach-hang/">Hướng dẫn</a></li>
	<li id="menu-item-16325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16325"><a href="http://maybanhang.net/video-huong-dan/">Video hướng dẫn</a></li>
	<li id="menu-item-3125" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3125"><a href="http://maybanhang.net/downloads/">Download</a></li>
	<li id="menu-item-10331" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10331"><a href="http://maybanhang.net/category/cap-nhat-phien-ban/">Cập nhật phiên bản</a></li>
</ul>
</li>
<li id="menu-item-220340" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220340"><a rel="nofollow" href="http://maybanhang.net/tuyen-dung/">Tuyển dụng</a></li>
<li id="menu-item-3503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3503"><a href="http://maybanhang.net/ve-chung-toi/">Giới thiệu</a>
<ul class="sub-menu">
	<li id="menu-item-26040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26040"><a href="http://maybanhang.net/khach-hang-noi-ve-maybanhang-net/">Khách hàng nói</a></li>
	<li id="menu-item-3581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3581"><a href="http://maybanhang.net/ve-chung-toi/">Về chúng tôi</a></li>
	<li id="menu-item-204310" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204310"><a href="http://maybanhang.net/bao-chi-va-giai-thuong/">Báo chí và giải thưởng</a></li>
	<li id="menu-item-26075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26075"><a href="http://maybanhang.net/dang-ky-lam-dai-ly-cua-maybanhang-net/">Đăng ký làm đại lý</a></li>
</ul>
</li>
<li id="menu-item-204309" class="menu-dangky menu-item menu-item-type-custom menu-item-object-custom menu-item-204309"><a href="http://localhost:3000/signup">Đăng ký</a></li>
<li id="menu-item-1962" class="menu-dangnhap menu-item menu-item-type-custom menu-item-object-custom menu-item-1962"><a rel="nofollow" href="http://localhost:3000/login">Đăng nhập</a></li>
</ul>				    </nav>
				</div>
		    </div>
		</div>
<script type="text/javascript">
	$(function(){
		$('.show-menu').click(function(){
			if($('#header').hasClass('fix')){
				$('#header').removeClass('fix');
			}else{
				$('#header').addClass('fix');
			}
			$('#menu').slideToggle(500);
		});
	})
</script>
	
	
	
	
	
	
	
	
	
	
	
	<div class="wrap-main">
	<div class="wrap-banner">
		
		<!-- <div class="banner banner1">
			<p class="p1">dùng mọi thiết bị bạn có</p>
			<p class="p2"></p>
			<p class="p3">Giải pháp quản lý cửa hàng tổng thể - <b>99.000</b> đ/tháng</p>
			<a href="http://maybanhang.net/phan-mem-ban-hang-tren-may-tinh/">
				<p class="p4">Bán hàng bằng máy tính</p>
			</a>
			<a href="http://maybanhang.net.vn/phan-mem-tren-ipad/">
				<p class="p5">Bán hàng bằng máy tính bảng</p>
			</a>
			<a href="/phan-mem-tren-iphone/">
				<p class="p6">Bán hàng bằng điện thoại thông minh</p>
			</a>
			<a href="/back-office/">
				<p class="p7">Quản lý trên Web</p>
			</a>
			<a href="/ezmobile-thong-tin-quan-ly-theo-thoi-gian-thuc/">
				<p class="p8">Quản lý từ xa qua điện thoại</p>
			</a>
			<img src="http://maybanhang.net/wp-content/themes/Chameleon/images/loading-lazyload.gif" data-original="http://maybanhang.net/wp-content/themes/Chameleon/images/page-home-new/img22.png" class="lazy-load img1" alt="phần mềm bán hàng">
			<a href="/dang-ky">
				<p class="p9">Đăng ký ngay</p>
			</a>
			<a href="/phan-mem-quan-ly-ban-hang/">
				<p class="p10">Tổng quan</p>
			</a>
		</div> -->
		<!-- <div class="banner banner2">
			<p class="p1">Giải pháp quản lý nhà hàng</p>
			<p class="p2"></p>
			<p class="p3">
				Dùng mọi thiết bị bạn có để bán hàng và quản lý nhà hàng </br>Máy tính bàn, máy tính bảng, điện thoại thông minh...
			</p>
			<a href="/phan-mem-quan-ly-nha-hang/">
				<p class="p4">Quản lý nhà hàng</p>
			</a>
			<a href="/phan-mem-ban-hang-khong-the-thieu-cua-cac-quan-cafe-take-away/">
				<p class="p5">Quản lý quán cà phê Take - Away</p>
			</a>
			<a href="/giai-phap-quan-ly-nha-hang-fast-food/">
				<p class="p6">Quản lý nhà hàng Fastfood</p>
			</a>
			<a href="/quan-bar-va-cach-quan-ly-hieu-qua/">
				<p class="p7">Quản lý quán Bar</p>
			</a>
			<a href="/phan-mem-cho-canteen-giai-phap-tu-dong-hoa-va-quan-ly-thong-minh/">
				<p class="p8">Quản lý Canteen và bếp ăn công nghiệp</p>
			</a>
			<a href="/dang-ky">
				<p class="p9">Đăng ký ngay</p>
			</a>
			<a href="/phan-mem-quan-ly-ban-hang/">
				<p class="p10">Tổng quan</p>
			</a>
		</div>
		<div class="banner banner3">
			<p class="p1">Giải pháp quản lý bán lẻ</p>
			<p class="p2"></p>
			<p class="p3">
				Mọi thứ bạn cần để quản lý bán hàng và kiểm soát tồn kho </br>
				Gia tăng tốc độ bán hàng và tránh thất thoát do nhầm lẫn, gian lận.
			</p>
			<a href="/phan-mem-quan-ly-sieu-thi-cho-nghiep-vu-van-hanh-tron-tru/">
				<p class="p4">Quản lý siêu thị</p>
			</a>
			<a href="/phan-mem-sanh-dieu-cho-shop-thoi-trang/">
				<p class="p5">Quản lý shop thời trang</p>
			</a>
			<a href="/phan-mem-quan-ly-kho/">
				<p class="p6">Quản lý kho</p>
			</a>
			<a href="/dang-ky">
				<p class="p9">Đăng ký ngay</p>
			</a>
			<a href="/phan-mem-quan-ly-ban-hang/">
				<p class="p10">Tổng quan</p>
			</a>
		</div> -->
	</div><!--end banner-->
	<div class="clear-fix"></div>
	<div class="wrap-main1">
		<div class="main1 w-main">
			<div class="blog blog1">
				<p class="title-lv1">Đơn giản để triển khai</p>
				<ul class="list-item">
					<li>
						
						<div class="right">
							<p class="p1">Dùng mọi thiết bị bạn có</p>
							<p class="p2">
								Laptop, máy tính bàn, máy tính bảng, điện thoại thông minh Iphone/Ipad... Bán hàng ngay, không phải mua thêm thiết bị phần cứng, thiết bị lưu trữ
							</p>
						</div>
					</li>
					<li>
						
						<div class="right">
							<p class="p1">Biết bán hàng trong 5 phút</p>
							<p class="p2">
								Giao diện đơn giản, thân thiện, dễ dùng, dựa trên các luồng nghiệp vụ quen thuộc. Nhân viên bán hàng có thể dễ dàng sử dụng và nhanh chóng triển khai bán hàng.
							</p>
						</div>
					</li>
					
				</ul>
			</div>
			<div class="blog blog2">
				<p class="title-lv1">Dễ dàng để quản lý</p>
				<ul class="list-item">
					
					<li>
						
						<div class="right">
							<p class="p1">Cửa hàng trong lòng bàn tay</p>
							<p class="p2">
								Không cần tới cửa hàng, chủ và quản lý vẫn có thể theo dõi mọi thay đổi doanh số, lợi nhuận, tồn kho... tức thì với Ezmobile - phiên bản hoàn toàn miễn phí!
							</p>
						</div>
					</li>
					<li>
						
						<div class="right">
							<p class="p1">Đồng bộ dữ liệu theo thời gian thực</p>
							<p class="p2">
								Công nghệ điện toán đám mây giúp cho dữ liệu cửa hàng được cập nhật đồng bộ trên mọi thiết bị và liên tục mọi phát sinh doanh số, tồn kho...
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="clear-fix"></div>
			
		</div>
	</div><!--end main 1-->
	<div class="clear-fix"></div>

	<div class="clear-fix"></div>
	
	<div class="clear-fix"></div>
	
	<div class="clear-fix"></div>
	
</div><!-- end wrap main -->
<footer>
    

       
</footer>
<div class="wrap-list-address">
    <div class="list-address">
        <p class="title">LIÊN HỆ</p>
        


    </div>
</div>


</script>
  