<!-- <h1 class="category_content">Listing tables</h1> -->

<!-- <table>
  <thead>
    <tr>
      <th>Table's Name    </th>
      <th>Number of guesses</th>
      <th colspan="5"></th>
    </tr>
  </thead> -->

  <!-- <tbody> -->
 
    <% @tables.each do |table| %>
      <!-- <tr> -->
        <div class="table-order">
        
        <div><a href="tables/<%=table.id %>"><span class="glyphicon glyphicon-cutlery" style="font-size: 60px;"> </span> </a></div>
        <div style="font-size: 20px">
        <%= table.id %>
        </div>
        
     </div>
    <% end %>


  


<div class="plus"><a href="tables/new"><span class="glyphicon glyphicon-plus" style="font-size: 35px">
<br><br>
</span> </a>
</div>
