<%= form_for([@table, @table.orders.build]) do |f| %>
<table width=100%>
<tr>
<td>order</td>
<td>price</td>
</tr>
<tr>
<td id="orders"></td>
<td id="price_each"></td>
</tr>
<tr>
<td>total price</td>
<td id="price"></td>
</tr>

</table>
	<% f.text_field :content, placeholder: " What do you want to order? " %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">

	var x;
	var textall = '';
	var sum =0;
    var price_each = '';
    function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue;
    } 
    function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length,c.length);
        }
    }
    return "";
    } 
	function change(x){
		var box = $("#text-box");
	    /*$("ol").append("<li>" + itemcontent + "</li>");*/
	    box.val( x );
	}
    
    function myFunction() {
        
        var text = document.getElementById("text-box").value;
        var order = text.replace(/[0-9]/g, '');;

        var thenum = text.replace( /^\D+/g, '');
        var convert = parseInt(thenum);
       
        textall = getCookie("order");
        sum = parseInt(getCookie("sum"));

        sum = sum + convert;
        textall = textall + "<br>" + order;
        price_each = price_each + "<br>" + thenum;

        document.getElementById("price_each").innerHTML = price_each;
        document.getElementById("orders").innerHTML = textall;
        document.getElementById("price").innerHTML =  sum;

        setCookie("order", textall);
        setCookie("sum", sum);
    }

	var innerWindow = document.getElementById('myFrame').contentWindow;
    innerWindow.change= change;

    function deleteAll(){
        textall = '';
        sum = 0;
        setCookie("order", textall);
        setCookie("sum", sum);
        window.location.reload(true);
    }

</script>
	<form onsubmit="return false;">
            <textarea id="text-box" style="display:none"></textarea>
            <input type="button" onclick="deleteAll(); return false;" value ="Delete All Orders" id="go" />
            <input type="button" onclick="myFunction(); return false;" value ="Add to bill" id="go" />
    </form>
    <% end %>