<%= form_for([@table, @table.orders.build]) do |f| %>
<p id="demo"></p>
	<%= f.text_field :content, placeholder: " What do you want to order? " %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript">

	var x;
	function change(x){
		var box = $("#text-box");
	    /*$("ol").append("<li>" + itemcontent + "</li>");*/
	    box.val(box.val() + x );
	}
    
    function myFunction() {
        var text = document.getElementById("text-box").value;
        document.getElementById("demo").innerHTML = text;
    }

	var innerWindow = document.getElementById('myFrame').contentWindow;
    innerWindow.change= change;

</script>
	
            <textarea id="text-box"></textarea>
            <input type="button" onclick="myFunction()" value ="Add to bill" id="go" />

    <% end %>