
<div class="categorycontainer">
<div id="categorycontainer1">
<iframe src="/tables" width="100%" height="400"></iframe> 
</div>
<div id="categorycontainer2">



  <% @categories.each do |category| %>
  <div class="category_index_row clearfix">
    <h2 class="category_content"><%= link_to category.content, category %></h2>
    <p class="category_description"><%= link_to category.description, category %></p>
    
  <% end %>

  <div class="links">
  <%= link_to 'New Category', new_category_path %>
  </div>



</div>
</div>