
<div class="categorycontainer">
<div id="categorycontainer1">
<iframe src="/tables" width="100%" height="400px" style="border: none"></iframe> 
</div>
<div id="categorycontainer2">


 <ul class="nav nav-tabs">
 	<% @categories.each do |category| %>
  	<li role="presentation" style="margin:2px; border-radius: 2px; background-color: #CAE5E8"> <a data-toggle="tab" href="#<%= category.id %>"> <%= category.content %> </a> </li>
	<% end %>
	<li style="margin:2px; border-radiusius: 2px; background-color: #CAE5E8; font-size: 10px" role="presentation" > <a data-toggle="tab" href="#add"> + </a></li>
</ul>

<div class="tab-content">
	<% @categories.each do |category| %>
    <div id="<%= category.id %>" class="tab-pane">	
      <iframe height="199px" width="100%" scrolling="auto" frameborder="0" src="categories/<%= category.id %>"></iframe>
    </div>
    <% end %>
    <div id="add" class="tab-pane">	
      <iframe height="199px" width="100%" scrolling="auto" frameborder="0" src="categories/new"></iframe>
    </div>
  </div>




</div>
</div>